@import "~bootstrap/scss/bootstrap.scss";

body {
  padding: 20px; /* Add padding to the body */
}

.movie-card {
  @extend .card;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }

  &-image {
    max-height: 100%;
    object-fit: cover;
    width: 100%;
  }

  &-body {
    padding: 1rem;
  }

  &-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  &-director {
    font-size: 1rem;
    color: #777;
  }

  &-button {
    color: #fff;
    background-color: #e50914;
    border: 1px solid #e50914;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: #ff0a16;
    }
  }
}
img {
  object-fit: cover;
  width: 100%;
}
