.navbar-brand {
  font-weight: bold;
  color: #fff; // White color for "Movies App"
}

.nav-link {
  color: #fff; // White color for navigation links
  font-weight: bold; // Make navigation links bold
}

.nav-link:hover {
  color: #ccc; // Lighter shade of grey on hover
}

.profile-link {
  color: #fff; // White color for profile link
}

.profile-link:hover {
  color: #ccc; // Lighter shade of grey on hover
}

.login-link {
  color: black; // White color for login link
  font-weight: bold;
}

.signup-link {
  color: #fff; // White color for signup link
  font-weight: bold; // Make signup link bold
}
