@import "~bootstrap/scss/bootstrap.scss";
.signup-form {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: red;

  .form-label {
    color: white;
    font-weight: bold;
  }

  .form-control {
    border-radius: 5px;
    margin-bottom: 15px;
    color: white;
  }

  .submit-button {
    background-color: white;
    font-weight: bolder;
    color: white;
    font-family: "Netflix Sans", Arial, sans-serif;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #333;
    }
  }
}
