@import "~bootstrap/scss/bootstrap.scss";

.movie-details {
  background-color: white;
  color: black;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  position: relative;
  overflow: hidden;
}

.movie-image {
  max-height: 100%;
  object-fit: cover;
  width: 100%;
}

.movie-details-content {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.movie-info {
  margin-bottom: 10px;
}

.info-label {
  font-weight: bold;
  margin-right: 5px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.back-button {
  background-color: black;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.back-button:hover {
  background-color: #3b3838;
}

.movie-details span {
  display: block;
  margin-bottom: 4px;
}

.movie-details span b {
  font-weight: bold; /* Applies bold font to the labels */
}

.favorite-button {
  background-color: black;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}
