@import "~bootstrap/scss/bootstrap.scss";

.movie-details {
  background-color: red;
  color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  position: relative;
  overflow: hidden; /* Ensure content doesn't overflow */
}

.movie-image {
  max-height: 100%;
  object-fit: cover;
  width: 100%;
}

.movie-details-content {
  position: absolute;
  bottom: 10px; /* Adjust the distance from the bottom */
  left: 10px; /* Adjust the distance from the left */
}

.movie-info {
  margin-bottom: 10px;
}

.info-label {
  font-weight: bold;
  margin-right: 5px;
}

.back-button-container {
  margin-top: 10px;
}

.back-button {
  background-color: black;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.back-button:hover {
  background-color: #251d1d;
}
