$primary: red;
$body-bg: black;

// Import Bootstrap SCSS
@import "~bootstrap/scss/bootstrap.scss";

$color: black;

.my-movie {
  color: $color;
}

.form-label {
  color: rgb(127, 6, 6);
}

body {
  background-color: $body-bg;
}

.button {
  background-color: black;
  color: red;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.back-button:hover {
  background-color: #251d1d;
}
