$primary: red;
$body-bg: black;

// Import Bootstrap SCSS
@import "~bootstrap/scss/bootstrap.scss";

$color: black;

.my-movie {
  color: $color;
}

.form-label {
  color: rgb(127, 6, 6);
}

body {
  background-color: $body-bg;
}
